EXPO_PUBLIC_API_URL=http://localhost:3333
AWS_REGION=ap-south-1
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=daya
MYSQL_PASSWORD=daya
MYSQL_DATABASE=dayacares
DEFAULT_LOGIN_PASSWORD=Daya@2026
SNS_ANDROID_PLATFORM_ARN=
SNS_IOS_PLATFORM_ARN=
SNS_OPS_TOPIC_ARN=
SNS_WHATSAPP_TOPIC_ARN=
